.App {
  text-align: center;
}

.form-container {
  background-color: azure;
}

.form-container ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 0px;
}

.form-container ul li {
  text-decoration: underline;
  list-style: none;
}

.year-list li {
  flex: 1 1 15%;
}